<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>Error</title>
    </head>
    <body>
        <h1>Oops pagina no encontrada :(</h1>

        <div>
            La pagina solicitada no ha sido encontrada. Verifica que hayas escrito bien la direccion o <a href="{{ path('homepage') }}">regresa a la pagina principal
        </div>
    </body>
</html>

