{# app/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'base_error.html.twig' %}

{% block body %}
        <h1>Error inesperado :(</h1>

        <div>
            Lo sentimos no podemos mostrar la pagina que estas buscando <a href="{{ path('homepage') }}">regresa a la pagina principal. </a> O intenta mas tarde.
        </div>
{% endblock %}

