{% extends '::base_login.html.twig' %}
{% block title %} Cambiar contrase単a {% endblock %}
{% block body %}
        <div class="form">
            <h1>Cambio de contrase単a</h1>
	        <div class="tab-content">
				<form role="form" id='set_password' method='POST' action="{{ path('set_password') }}">
					<div class="field-wrap">
						<input type="hidden" name="id" value="{{ id }}" />
						<input type="hidden" name="nip" value="{{ nip }}" />
	                    <div class="field-wrap">
		                    <label>Nueva contrase単a<span class="req">*</span></label>
		                    <input type="password" name="password" required/>
	                    </div>
	                    <div class="field-wrap">
		                    <label>Confirmar contrase単a<span class="req">*</span></label>
		                    <input type="password" name="confirm_password" required/>
	                    </div>
					</div>
	                <button class="button button-block" type="submit">Enviar</button>	
				</form>
			</div>
		</div>
{% endblock %}