<h3>Hola, hemos recibido tu petición</h3>

<h2>{{ token }}</h2>
Para poder recuperar tu contraseña debemos confirmar tu autenticidad, para ello tienes que accesar el PIN que te hemos enviado a <a href="{{ url('login_route') }}">este enlace</a>.
<br>
Y posteriormente se te redireccionará para que puedas completar el proceso. Este PIN es valido antes de (tiempo) minutos de haberlo recibido.
<br>
<br>
Gracias por tu tiempo.