<h3>Hola, hemos recibido tu petici칩n</h3>
Para poder recuperar tu contrase침a debemos confirmar tu autenticidad, para ello tienes que accesar a <a href="{{ url('change_password', {'id':id, 'nip':nip})  }}">este link</a> que te hemos enviado.
<br>
Y posteriormente se te redireccionar치 para que puedas completar el proceso. Este enlace es v치lido antes de 15 minutos de haberlo recibido.
<br>
<br>
Gracias por tu tiempo.