{% extends '::base_login.html.twig' %}
{% block title %} Recuperar contrasena {% endblock %}
{% block body %}

    {% if blank is defined %}
        <div class="alert alert-danger">
            Correo no coincide.
        </div>
    {% elseif error == 'alert' %}
        <div class="alert alert-danger">
            Parece que hubo un problema con su código de seguridad. Solicite un código nuevo.
        </div>
    {% elseif error == 'warning' %}
        <div class="alert alert-warning">
            El código de seguridad para cambiar su contraseña ha expirado. Solicite un nuevo código.
        </div>
    {% endif %}

    <div class="form">
    <h1>Solicitud de recuperación de contraseña</h1>

    <div class="tab-content">
        <form role="form" id='retrieve_password' method='post' action="{{ path('send_email') }}">
            <div class="field-wrap">
                <label>Email<span class="req">*</span></label>
                <!--  <input type="email" id="username" name="_username" required /> -->
                <input type="email" name="email" required/>
            </div>
            <button class="button button-block" type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}