<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>
		Recuperar contraseña - Skill Searcher
	</title>
	<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
        <div class="row">
        	{% if error == 'alert' %}
                <div class="alert alert-danger">
                        Parece que hubo un problema con su código de seguridad. Solicite un código nuevo.
                </div>
            {% elseif error == 'warning' %}
                <div class="alert alert-warning">
                        El código de seguridad para cambiar su contraseña ha expirado. Solicite un nuevo código.
                </div>
            {% endif %}
            <div class="col-md-4 col-md-offset-4">
            	<div class="login-panel panel panel-default">
            		<div class="panel-heading">
            			<h3 class="panel-title">Solicitud de recuperación de contraseña</h3>
            		</div>
            		<div class="panel-body">
						<form role="form" id='retrieve_password' method='post' action="{{ path('send_email') }}">
							<fieldset>
						    	<label>Correo electronico </label>
						    	<div class="form-group">
						    	<input class="form-control" type="text" name="email" />
						    	</div>
							    <button class="btn btn-success btn-block" type="submit">Enviar</button>
						    </fieldset>
						</form>
					<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>
</html>