@font-face {
    font-family: "Segoe";
    src: url(../fonts/segoeui.ttf) format("truetype");
}

body{
    font-family: "segoe";
    font-size: 17px;
}

.first-top {
    background: #9b0707;
    box-shadow: 0px 1px 5px #888888;
    height: 66px;
}

.first-top .nav>li>a:focus, .first-top .nav>li>a:hover {
    color: #C7C3C3;
    background-color: #9b0707;
}

a:hover{
    color: #5e5e5e;
}

.nav .open>a {
    background-color: #9b0707 !important;
}

.second-top {
    background: white;
    float: none;
}

.img{
    border-radius: 5px;
}

.second-top ul {
    height: 100%;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .dropdown{
    top:8px;
}
.navbar-brand{
    padding: 14px 15px;
}

.select-type, .input-search {
    top: 15px;
}

a.dropdown-toggle{
    color: white;
}

.sidebar-nav {
    max-width: 1543px;
    margin: auto;
}

.sidebar-nav li{
    width: 20%;
    display: inline;
    float: left;
    text-align: center;
}

#page-wrapper {
    margin: 0 12% 0 12%;
    border: none;
    background-color: white;
}
    border: none;
    background-color: white;
}

.timeline-body{
    background-color: white !important;
    box-shadow: 0 0px 15px #DAD2D2;
    border: 1px solid #E2DADA;
}

.timeline-body-arrow {
    border-color: transparent white transparent transparent !important;
}

.pagination>li>a, .pagination>li>a:hover, a {
    color: #9b0707;
}

.page-header {
    border: none;
}

.panel-default{
    box-shadow: 0 0px 15px #DAD2D2;
    border: 1px solid #E2DADA;
    min-height: 267px;
}

.panel-heading{
    text-align: right;
}

.pagination>.active>a, .pagination>.active>a:hover {
    background-color: #9B0707;
    border-color: #9B0707;
}

.second-top a.active {
    cursor:default;
    box-shadow:inset 0px -2px 0px 0px #5e5e5e;
}


@media screen and (max-width: 992px){
    #page-wrapper {
        margin: 0 5% 0 5%;
        border: none;
        background-color: white;
    }
}

@media screen and (max-width: 767px){
    .sidebar-nav li {
        width: 100%;
        float: none;
        text-align: center;
    }

    .navbar-toggle {
        padding: 14px 10px;
        border: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #DEDEDE;
    }

    .first-top {
        height: 155px;
    }

    .first-top select{
        margin-bottom: 6px;
    }
    
    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: white !important;
    }

    .navbar-toggle:focus span, .navbar-toggle:hover span {
        background-color: #9b0707 !important;
    }

    .input-sm{
        width: 71%;
    }
}