#page-wrapper{
    margin-top: 5%;
}

.panel-heading, .userimage, .userskill, .panel-footer{
    text-align: center;
}
.votes{
    text-align: right;
}
.panel-body img{
    border-radius: 50%;
    width: 150px;
}

.userskill b {
    color: #9b0707;
}

.unlike {
    background: #F0F0F0;
}

.like {
    background: #23517C;
    color: #f0f0f0;
}