{% extends '::base.html.twig' %}

{% block body -%}
<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12">
            <h1 class="page-header">Crear Skill</h1>
        </div>
    </div>
    <form method="POST" action="{{ path('skill_create')}}"> 
        <div class="col-lg-4">
            <div class="well">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Nombre de skill </label>
                        <input type="text" name="name" class="form-control"/>
                    </div>
                </div>
                
                <div class="row">
                        <a href="{{ path('skills') }}">
                            <i class="fa fa-arrow-left"></i> Regresar
                        </a>    
                    
                    <div class="pull-right">
                        <button type="submit" class="btn btn-sm btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form> 
</div>  
{% endblock %}




