{% extends '::base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}