p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.body-login {
    background-color: #364150;
}

.login {
    background-color: #ECEEF1;
}

img.register {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.login-button{
    background-color: #6C7A8D;
    margin: 0rem !important;
    color: #C3CEDD !important;
}