img.register {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    border-radius: 2%;
}

.img-center {
    margin:0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.img-responsive {
    margin:0 auto;
}

.file-input {
    position: relative;
    overflow: hidden;
}

.file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.user input, .btn-success {
    margin-bottom: 10px;
}

.accountsUl li {
    width:25%;
    display: inline;
    float: left;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic:hover .file-input {
    display: block;
}

.file-input {
    padding-top: 2%;   
    padding-right: 5%;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.file-input a {
    color: #000;
}
@media screen and (max-width: 1335px){
    .accountsUl li {
        width:33.3%;
    }   
}
@media screen and (max-width: 650px){
    .accountsUl li {
        width:100%;
        float: none;
    }
}