{% extends '::base_register.html.twig' %}
{% block title %} Login {% endblock %}
{% block body %}
    <div class="grid">
        <div class="row cells11">
            <div class="cell colspan3"></div>
            <div class="cell colspan5 login">
                <div class="grid ">
                    <h5 class="align-center">Iniciar sesion</h5>
                    <hr>
                    <div class="row cells12">
                        <div class="cell"></div>
                        <div class="cell colspan10">

                            <div class="input-control text full-size">
                                <span class="mif-mail prepend-icon"></span>
                                <input type="text" name="email" placeholder="Correo electronico" required>
                            </div>
                            <div class="input-control password full-size" data-role="input">
                                <span class="mif-lock prepend-icon"></span>
                                <input type="password" name="password" placeholder="Contraseña" required>
                                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                            </div>
                            <div class="input-control text full-size">
                                <a href="#" class="small-button">
                                    <span class="text-small">Recuperar contraseña</span>
                                </a>
                                <button type="submit" value="Submit" class="button success place-right" autofocus>Iniciar</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <a class="button full-size login-button" href="{{ path('register') }}">Crear cuenta</a>
                </div>
        </div>
    </div>
{% endblock %}



